<div class="background" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">
    <div class="mat-display-2 subtitle"  fxFlex="10">
        Just drop your files like it's hot potato
    </div>
    
    <div class="inputbox" fxFlex="60" fxLayout="column" fxItemAlign="center center" fxlayoutGap="40px">
        <div fxFlex="30" fxLayout style="padding:30px">
            <div class="mat-body" style="align-self: center;">
            We are the ones who take charge of assembling all of your data and help you with the organization. Don't worry, just upload your file here.
            </div>  
        </div>
        <div fxFlex="40" fxLayout class="custom-file" >
            <form [formGroup]="archivoForm" action="/api/upload" method="POST" enctype="multipart/form-data" style="align-self: center;">
                <mat-form-field>
                    <input matInput placeholder="Separator" name="separador"  required formControlName="separador">
                <mat-error *ngIf="archivoForm.get('separador').errors?.required"> Debe ingresar un separador</mat-error>
                </mat-form-field>
                <br/>
                <button color="warning" mat-raised-button><input type="file" class="custom-file" id="input-custom-file" (change)="onFileChange($event)"></button>
                <label class="mat-label" style="margin: 20px" >Choose a file</label>
            </form>
        </div>
        <div fxFlex="40" class="button" >
                <button style="width: 100%;" color="accent" mat-raised-button (click)="onUpload()"> UPLOAD </button>
        </div>
        <div fxFlex="40" *ngIf="alert==true">
                <swal
                #deleteSwal
                title="Intentalo de nuevo"
                text="Parece que no has cargado ningún archivo. Carga uno real esta vez."
                icon="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="deleteFile(file)">
              </swal>
        </div>
    </div> 
</div>










<!-- <mat-carousel
  timings="250ms ease-in"
  [autoplay]="false"
  interval="5000"
  color="accent"
  maxWidth="600px"
  proportion="30"
  slides="3"
  [loop]="false"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="true"
  orientation="ltr">
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000040"
    [hideOverlay]="true"
  ></mat-carousel-slide>
</mat-carousel> -->