.subtitle{
    color:#8bc34a;
    text-align: center;
    margin-top: 20px;
}

.inputbox{
    text-align: center;
    width: 80%;
    align-items: center;
    box-shadow: 10px 10px 15px 3px rgba(0,0,0,0.5);
    border-radius: 15%;
    background-color:white;
}

.background{
    background-image: url("../../../assets/bg_white.jpg");
    overflow: hidden;
    height: 100%;
}

.button{
    padding: 30px;
    width:50%;
}

.alerta{
    background-color: rgba(250, 128, 114, 0.603); 
    border-radius: 50%; 
    margin-bottom: 30px; 
    width: 90%; 
    border-color: rgb(248, 76, 46);
}