<app-toolbar [titulo]="titulo" (menuClick)="cambiarVisibilidad()"></app-toolbar>
<mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav mat-elevation-z16" #sidenav [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="isOpenSidenav">
            <mat-toolbar>
                <mat-toolbar-row>
                    <h2>Menú</h2>
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-nav-list>
            <ng-container *ngFor="let item of menuItems">
                    <a mat-list-item [routerLink]="item.ruta" routerLinkActive="list-item-active">
                        <mat-icon matListIcon *ngIf="item.icono else iconoDefecto">{{item.icono}}</mat-icon>
                        <ng-template #iconoDefecto>
                            <mat-icon matListIcon>list</mat-icon>
                        </ng-template>
                        {{item.titulo}}
                    </a>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-nav-list>
        </mat-sidenav>
    <mat-sidenav-content>
            <router-outlet></router-outlet> 
        </mat-sidenav-content>
    
</mat-sidenav-container>